.btn {
    font-size: 19px;
    font-weight: bold;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    background: $yellow;
    color: #000000;
    border: none;

    &:hover {
        background: $white;
        color: $yellow;
    }

    &--theme--transparent {
        background: transparent;
        color: $white;
        text-transform: none;

        &:hover {
            background: transparent;
            color: $yellow;
        }
    }


}

