.features {
    display: flex;
}

.features__item {
    margin-right: rem(46px);

    &:last-child {
        margin-right: 0;
    }
}

.surf_icon {
    width: 35px;
    height: 35px;
}

.material_icon {
    width: 35px;
    height: 35px;
}

.delivery_icon {
    width: 35px;
    height: 35px;
}
