.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        background-color: #1968B1;
        height: 90px;
        align-items: center;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.logo {
    width: 56px;
    height: 40px;
    min-height: 40px;
    min-width: 56px;

    @include tablets {
        margin-left: 30px;
    }
}

.phone-number__icon {
    height: 14px;
    width: 13px;
}